name: Generate Changelog

on:
  push:
    branches: [ master ]
    paths:
      - 'CHANGELOG.md'
  workflow_dispatch:

jobs:
  changelog:
    name: Update Changelog
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate changelog
        uses: metcalfc/changelog-generator@v4.6.2
      - name: Commit changelog
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add CHANGELOG.md
          git diff --staged --quiet || git commit -m "chore: update changelog [skip ci]"
          git push
